<footer class="mt-auto" style="background-color: #ebebeb;">
    <hr style="margin-top: 0; padding-top: 0;">

    <div class="container">
        <!-- Site links -->
        <div class="row">
            <div class="col-xl-2">
                <h2 class="scilife-footer-titles">Site navigation</h2>
                <ul class="list-unstyled scilife-footer-text">
                    <li><a href="/">Home</a></li>
                    <li><a href="/contribute">Contribute</a></li>
                    <li><a href="/about">About the portal</a></li>
                    <li><a href="/about/sv">Information på svenska</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="/citation">Cite us</a></li>
                    <li><a href="/glossary">Glossary</a></li>
                    <li><a href="/user-guide">User guide</a></li>
                    <li><a href="/terms">Terms of use</a></li>
                    <li><a href="/privacy">Privacy policy</a></li>
                    <li><a href="/faqs">FAQ</a></li>
                </ul>
            </div>


            <!-- Explanation about the site and more -->
            <div class="col-xl-5">
                <h2 class="scilife-footer-titles">About the portal</h2>
                <p>
                    The Swedish Reference Genome Portal is developed and maintained by the Data-Driven Life Science (DDLS) Data Science Node in Evolution and Biodiversity (DSN-EB) team
                    as part of the <a href="https://data.scilifelab.se/" target="_blank">SciLifeLab Data Platform</a>, operated by the
                    SciLifeLab Data Centre. Members of the DSN-EB team are affiliated with <a href="https://www.scilifelab.se/data/" target="_blank">SciLifeLab Data Centre</a>
                    and <a href="https://nbis.se/" target="_blank">NBIS</a> (National Bioinformatics Infrastructure Sweden),
                    based at Uppsala University and the Swedish Museum of Natural History.
                    This service is supported by SciLifeLab and the Knut and Alice Wallenberg foundation through the DDLS program,
                    as well as by the Swedish Foundation for Strategic Research (SSF).
                </p>
            </div>


            <div class="col-xl-5">
                <!-- Funders etc... part -->
                <h2 class="scilife-footer-titles mb-2">Supported by</h2>

                <a href="https://kaw.wallenberg.org/en" target="_blank" style="text-decoration: none;">
                    <img fetchpriority="low" class="scilife-footer-img" src="/img/logos/kaw.webp"
                        alt="Logo for the Knut and Alice Wallenberg Foundation">
                </a>
                <a href="https://strategiska.se/en/" target="_blank" style="text-decoration: none;">
                    <img fetchpriority="low" class="scilife-footer-img" src="/img/logos/sfsr_logo.webp"
                        alt="Logo for the Swedish Foundation for Strategic Research">
                </a>
                <a href="https://www.scilifelab.se/" target="_blank" style="text-decoration: none;">
                    <img fetchpriority="low" class="scilife-footer-img" src="/img/logos/scilifelab-logo.svg"
                        alt="SciLifeLab's Logo">
                </a>

                <!--bootstrap icons with links to different services -->
                <h2 class="scilife-footer-titles mt-2 mb-1">Stay Updated</h2>

                <a href="https://www.linkedin.com/company/scilifelab/" target="_blank" style="text-decoration: none;">
                    <i class="bi bi-linkedin mx-2" fill="currentColor" style="font-size: 2rem;"></i>
                    <span class="visually-hidden">Visit Scilifelab's linkedin Page</span>
                </a>
                <a href="https://x.com/scilifelab" target="_blank" style="text-decoration: none;">
                    <i class="bi bi-twitter-x mx-2" fill="currentColor" style="font-size: 2rem;"></i>
                    <span class="visually-hidden">Visit Scilifelab's X (Twitter) Page</span>
                </a>
                <a href="https://www.youtube.com/channel/UCfWQHAK8UW0mPghV8R-Jqzg" target="_blank" style="text-decoration: none;">
                    <i class="bi bi-youtube mx-2" fill="currentColor" style="font-size: 2rem;"></i>
                    <span class="visually-hidden">Visit Scilifelab's Youtube Channel</span>
                </a>

            </div>
        </div>

        {{ partial "version_info.html" . }}

    </div>
</footer>

<!-- Matomo tracking info -->
<script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["disableCookies"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
        var u = "//matomo.dc.scilifelab.se/";
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '11']);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
    })();
</script>
