<nav class="navbar navbar-expand-lg">
    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="/img/logos/navbar_logo.webp"
                alt="The DDLS Evolution and Biodiveristy node's logo"
                style="display: flex; height: 3.5rem; justify-content: center; align-items: center;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse scilife-navbar" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                {{ range .Site.Menus.main }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
