<nav class="navbar navbar-expand-lg">
    <div class="container">

        <!-- aria-hidden set to prevent 2 homepage links in a row for screen readers -->
        <a class="navbar-brand" href="/" aria-hidden="true">
            <img class="scilife-navbar-logo" src="/img/logos/logo_SRGP.webp"
                alt="The DDLS Evolution and Biodiveristy node's logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-flex align-items-start align-items-lg-end flex-column collapse navbar-collapse borders" >

            <div class="collapse navbar-collapse scilife-navbar" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {{ range .Site.Menus.main }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            </div>

            <div class="collapse navbar-collapse scilife-navbar" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {{ range .Site.Menus.sub }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>

    </div>
</nav>
