<!-- Pagination toggle below species cards. -->
{{ $numbSpecies := .numbSpecies }}
{{ $numbSpeciesPerPage := .numbSpeciesCards }}
{{ $numbPages := div $numbSpecies $numbSpeciesPerPage | math.Max 2 }}


<nav aria-label="Species cards navigation">
    <ul class="pagination pagination-lg justify-content-center mt-3 scilife-pagination">
        <li class="page-item"><a class="page-link" href="#" data-page="prev">Previous</a></li>

        <li class="page-item active" aria-current="page"><a class="page-link" href="#" data-page="1">1</a></li>
        {{ range seq 2 $numbPages }}
            <li class="page-item">
                <a class="page-link" href="#" data-page="{{ . }}">{{ . }}</a>
            </li>
        {{ end }}

        <li class="page-item"><a class="page-link" href="#" data-page="next">Next</a></li>
    </ul>
</nav>
