{{/*
Given a dictionary representation of taxonomy.xml, return lineage entries indexed by rank.
Example output:
{
  "species": { "scientificName": "Jacobus lanternibus", "taxId": 666 },
  "superkingdom": { "scientificName": "Eukaryota", "taxId": 2759 },
}
*/}}
{{ $species := dict "scientificName" (index .taxon "-scientificName") "taxId" (index .taxon "-taxId") }}
{{ $byrank := dict "species" $species }}
{{ range .taxon.lineage.taxon }}
    {{ $rank := index . "-rank" }}
    {{ $scientificName := index . "-scientificName" }}
    {{ $taxId := index . "-taxId" }}
    {{ with $rank }}
	{{ $data := dict "scientificName" $scientificName "taxId" $taxId }}
	{{ $byrank = merge $byrank (dict $rank $data) }}
    {{ end }}
{{ end }}
{{ return $byrank }}
