{{ $path := .path }}
{{ $lineage := .lineage }}
{{ $ranks := .taxonomy_ranks }}
{{ $ena_url := "https://www.ebi.ac.uk/ena/browser/view/Taxon:" }}
{{ $ncbi_url := "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=" }}
{{ range $ranks }}
    {{ $rank := .key }}
    {{/* Uppercased rank or custom label */}}
    {{ $label := .label | default $rank | strings.FirstUpper }}
    {{/* Optional formatting for the scientific name */}}
    {{ $fmt := .format | default "%s" }}
    {{ with index $lineage $rank }}
	<div class="row pb-1">
            <div class="col-12">
                <b>{{ $label }}:</b>
		<a href="{{ $ena_url }}{{ .taxId }}" target="_blank">
		    {{ printf $fmt .scientificName | safe.HTML }}
		</a>
            </div>
            <!-- Force next columns to break to new line -->
            <div class="w-100"></div>
        </div>
    {{ else  }}
	{{ warnf "%s: missing lineage entry %s" $path $rank }}
    {{ end }}
{{ end }}
<div class="row pb-1 mb-3">
    <div class="col-12">
        <b>NCBI Taxonomy ID:</b>
        <a href="{{ $ncbi_url }}{{ $lineage.species.taxId }}" target="_blank">
	    {{ $lineage.species.taxId }}
        </a>
    </div>
</div>
