{{ define "main" }}

    {{ partial "species_title.html" . }}

    {{ partial "species_nav.html" . }}

    <div class="container mt-3">
	{{ with .Resources.Get "assembly.yaml" }}
	    {{ $metadata := transform.Unmarshal . }}
	    <div class="row align-items-center">
		<div class="col-md scilife-subsection">
		    <h3>Description</h3>
		    <ul style="font-size: 1.125rem;">
			{{ range slice "name" "type" "level" "representation" "accession" }}
			    {{ $entry := index $metadata . }}
			    <li><strong>{{ $entry.label }}: </strong> {{ $entry.value }}</li>
			{{ end }}
		    </ul>
		</div>
		<div class="col-md scilife-subsection text-md-center">
		    <div class="mb-3">
			<a href="https://www.ebi.ac.uk/ena/browser/view/{{ $metadata.accession.value }}" target="_blank">
			    <button class="btn btn-lg scilife-ncbi-ena-btn">
				Open assembly record in the ENA
				<img src="/img/icons/open_new_tab_white.svg" alt="Open in new tab Icon" class="scilife-icon-lg">
			    </button>
			</a>
		    </div>
		    <div>
			<a href="https://www.ncbi.nlm.nih.gov/datasets/genome/{{ $metadata.accession.value }}" target="_blank">
			    <button class="btn btn-lg scilife-ncbi-ena-btn">
				Open assembly record in the NCBI
				<img src="/img/icons/open_new_tab_white.svg" alt="Open in new tab Icon" class="scilife-icon-lg">
			    </button>
			</a>
		    </div>
		</div>
	    </div>
	{{ else }}
	    No metadata was provided for this assembly.
	{{ end }}

	<div class="row">
	    <div class="col scilife-subsection">
		{{ .Content }}
	    </div>
	</div>

	<div class="row row-cols-1 row-cols-lg-2">
	    {{ with .Resources.Get "stats.yaml" }}
		{{ $stats := transform.Unmarshal . }}

		<!-- assembly data table -->
		<div class="col scilife-subsection">
		    <h3>Assembly Statistics</h3>
		    <div class="table-responsive">
			<table id="assemblyTable" class="table table-hover table-bordered">

			    <thead class="table-light">
				<tr>
				    <th scope="col">Statistic</th>
				    <th scope="col">Value</th>
				</tr>
			    </thead>

			    <tbody class="table-responsive">
				{{ range $idx, $statistic := $stats.assembly }}
				    {{ range $stat_name, $value := $statistic }}
					<tr>
					    <td> {{ $stat_name }} </td>
					    <td> {{ $value }} </td>
					</tr>
				    {{ end }}
				{{ end }}
			    </tbody>

			</table>
		    </div>
		</div>

		<!-- annotation data table -->
		<div class="col scilife-subsection">
		    <h3> Annotation Statistics</h3>

		    <div class="table-responsive">
			<table id="annotationTable" class="table table-hover table-bordered">

			    <thead class="table-light">
				<tr>
				    <th scope="col">Statistic</th>
				    <th scope="col">Value</th>
				</tr>
			    </thead>

			    <tbody class="table-responsive">
				{{ range $idx, $statistic := $stats.annotation }}
				    {{ range $stat_name, $value := $statistic }}
					<tr>
					    <td> {{ $stat_name }} </td>
					    <td> {{ $value }} </td>
					</tr>
				    {{ end }}
				{{ end }}
			    </tbody>

			</table>
		    </div>
		</div>
	    {{ else }}
		<p>No assembly and annotation statistics have been provided for this species</p>
	    {{ end }}
	</div>

    </div>


    <div class="row">
	<div class="col scilife-subsection">
            {{ with .Resources.Get "contrib.md" }}
		{{ .Content }}
	    {{ end }}
	</div>
    </div>

    {{ partial "last_updated.html" . }}


{{ end }}

{{ define "scripts" }}

    <script>
     document.addEventListener('DOMContentLoaded', function() {
         new DataTable('#assemblyTable', {
             info: false,
             ordering: false,
             paging: false,
             searching: false
         });

         new DataTable('#annotationTable', {
             info: false,
             ordering: false,
             paging: false,
             searching: false
         });
     });
    </script>

{{ end }}
