{{ define "early_connections" }}

<link rel="preconnect" href="https://www.google.com">
<link rel="preconnect" href="https://www.gstatic.com" crossorigin>

{{ end }}


{{ define "script_includes" }}

<!-- onload callback function needs to be loaded before reCAPTCHA API to avoid race conditions. -->
{{ $recaptchaJS := resources.Get "js/recaptcha.js" | fingerprint | minify }}
<script src="{{ $recaptchaJS.RelPermalink }}"></script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

<!-- For submission of contact form -->
{{ $contactFormJS := resources.Get "js/contact_form.js" | fingerprint | minify }}
<script src="{{ $contactFormJS.RelPermalink }}"></script>

{{ end }}


{{ define "main" }}

<div class="container mt-3">
    <div class="row">
        <div class="col scilife-subsection mt-3">
            {{ .Content }}
        </div>
    </div>
</div>

{{ end }}
