{{ define "main" }}

<style>
    th {
        vertical-align: top;
    }
</style>

<div class="container mt-3">
    <div class="row">
        <div class="col scilife-subsection mt-3">
            {{ .Content }}
        </div>
    </div>

    <div class="col scilife-subsection">
        <div class="table-responsive">
            {{ with resources.Get "glossary.csv" }}
                {{ with . | transform.Unmarshal (dict "delimiter" "|" "lazyQuotes" true) }}
                <table id="glossaryTable" class="table table-hover table-bordered">
                    <thead class="table-light">
                        <tr>
                            {{ range index . 0 }}
                                <th>{{ . | markdownify }}</th>
                            {{ end }}
                        </tr>
                    </thead>

                    <tbody class="table-responsive">
                        {{ range after 1 . }}
                            <tr>
                                {{ $term := index . 0 }}
                                {{ $accessionCode := index . 1 }}
                                {{ $definition := index . 2 }}
                                {{ $ontologyVersion := index . 3 }}

                                <td>{{ $term | markdownify }}</td>

                                <!-- accession codes altered to contain link to defintion. -->
                                {{ if strings.HasPrefix $accessionCode "SO:" }}
                                    <td>
                                        <a href="http://www.sequenceontology.org/browser/current_release/term/{{$accessionCode}}" target="_blank">
                                            {{ $accessionCode }}
                                        </a>
                                    </td>
                                {{ else if or (strings.HasPrefix $accessionCode "FBcv:") (strings.HasPrefix $accessionCode "FBsv:") }}
                                    <td>
                                        <a href="https://flybase.org/cgi-bin/cvreport.pl?rel=is_a&id={{$accessionCode}}" target="_blank">
                                            {{ $accessionCode }}
                                        </a>
                                    </td>
                                {{ else if strings.HasPrefix $accessionCode "OBI" }}
                                    <td>
                                        <a href="https://ontobee.org/ontology/OBI?iri=http://purl.obolibrary.org/obo/{{$accessionCode}}" target="_blank">
                                            {{ $accessionCode }}
                                        </a>
                                    </td>

                                {{ else if strings.HasPrefix $accessionCode "GENO" }}
                                    <td>
                                        <a href="https://ontobee.org/ontology/GENO?iri=http://purl.obolibrary.org/obo/{{$accessionCode}}" target="_blank">
                                            {{ $accessionCode }}
                                        </a>
                                    </td>

                                {{ else if strings.HasPrefix $accessionCode "GENEPIO" }}
                                    <td>
                                        <a href="https://ontobee.org/ontology/GENEPIO?iri=http://purl.obolibrary.org/obo/{{$accessionCode}}" target="_blank">
                                            {{ $accessionCode }}
                                        </a>
                                    </td>
                                {{ else if strings.HasPrefix $accessionCode "GO:" }}
                                    <td>
                                        <a href="https://amigo.geneontology.org/amigo/term/{{$accessionCode}}" target="_blank">
                                            {{ $accessionCode }}
                                        </a>
                                    </td>

                                {{ else if or (strings.HasPrefix $accessionCode "operation_") (strings.HasPrefix $accessionCode "data_") }}
                                    <td>
                                        <a href="https://bioportal.bioontology.org/ontologies/EDAM?p=classes&conceptid={{$accessionCode}}" target="_blank">
                                            (EDAM) {{ $accessionCode }}
                                        </a>
                                    </td>

                                {{ else }}
                                    <td>{{ $accessionCode | markdownify }}</td>
                                {{ end }}

                                <td>{{ $definition | markdownify }}</td>
                                <td>{{ $ontologyVersion | markdownify }}</td>
                            </tr>
                        {{ end }}
                    </tbody>


                </table>
                {{ end }}
            {{ end }}
        </div>
    </div>


</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        new DataTable('#glossaryTable', {
            info: false,
            ordering: false,
            paging: false,
            searching: true
        });
    });
</script>

{{ end }}
