{{ define "main" }}

<div class="container mt-3">
    <div class="row">
        <div class="col scilife-subsection mt-3">
            {{ .Content }}
        </div>
    </div>

    <div class="col scilife-subsection">
        <div class="table-responsive">
            {{ with resources.Get "glossary.csv" }}
                {{ with . | transform.Unmarshal (dict "delimiter" "|" "lazyQuotes" true) }}
                <table id="glossaryTable" class="table table-hover table-bordered">
                    <thead class="table-light">
                        <tr>
                            {{ range index . 0 }}
                                <th>{{ . | markdownify }}</th>
                            {{ end }}
                        </tr>
                    </thead>

                    <tbody class="table-responsive">
                        {{ range after 1 . }}
                            <tr>
                            {{ range . }}
                                <td>{{ . | markdownify }}</td>
                            {{ end }}
                            </tr>
                        {{ end }}
                    </tbody>


                </table>
                {{ end }}
            {{ end }}
        </div>
    </div>


</div>


<link href="/Datatables/datatables.min.css" rel="stylesheet">
<script src="/Datatables/datatables.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        new DataTable('#glossaryTable', {
            info: false,
            ordering: false,
            paging: false,
            searching: true
        });
    });
</script>

{{ end }}
