{{ $year := now.Year }}
{{ $date := now.Format "January 2, 2006" }}

<!-- get the version number if prod build or set to X.X.X. if not -->
{{ $version := partial "GetVersion.html" }}
{{ $portalVersion := "X.X.X" }}
{{ if $version.tag }}
    {{ $portalVersion = index $version "tag" }}
    {{ $portalVersion = replace $portalVersion "v" "" }}
{{ end }}

<!-- can't pipe the replace command, hence multiline-->
{{ $content := .Inner }}
{{ $content := replace $content "DATE_ACCESSED" $date }}
{{ $content := replace $content "YEAR" $year }}
{{ $content := replace $content "VERSION_NUMBER" $portalVersion }}

<pre class="citation-block"><code>{{- strings.TrimSpace $content | markdownify -}}</code></pre>
